@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}
/* for navber heading */
.navber-text{
  font-family: 'Satisfy', cursive;
}
/* custom btn design */
.btn-primary{
  letter-spacing: 1px;
  border: 2px solid #ea1b25;
}
.btn-primary:hover{
  background-color: white;
  color: #ea1b25;
}
.App {
  text-align: center;
}
body{
  background-color: #f5f5f5;
}
::-webkit-scrollbar{
  width:15px;
}
::-webkit-scrollbar-track{
  background-color: #cfcfcf;
}
::-webkit-scrollbar-thumb{
  background-color: #ea1b25;
}